body{
    background-color: #f8f9fa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#loginId{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;

}
.login__image{
    height: auto;
    width: 400px;
    margin: auto;
}
.form__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 400px;
}
input{
    height: 4.9vh;
    border: 1.7px solid #000;
    border-radius: 7px;
    background-color: #FFDEAD !important;
    margin-bottom: 27px;
}
label{
    font-weight: 500;
    font-size: 1.3em;
}
.form__group p {
    text-align: center;
}
.submit__button{
    width: 250px;
    height: 60px;
    background-color: #F09100;
    border-radius: 7px;
    letter-spacing: 2px;
}
.submit__button:hover{
    background-color: #C97A00;
}
.form__group input:focus {
    border: 1.7px solid #000 !important;
    outline: none;
    box-shadow: none;
}
.error__msg, .error__pass{
    color: #B90000;
    font-size: 1.3em;
    font-weight: 100;
}
.error__pass{
    font-size: 1em;
}
label[for="usuarioId"]:has(+ input:invalid:focus){
    color:#B90000;
}
.input-group-text {
    border: none;
    border-right: 1.7px solid #000;
    border-bottom: 1.7px solid #000;
    background-color: #FFDEAD;
    height: 4.9vh;
    border-top: 1.7px solid #000;
    border-bottom-right-radius: 7px;
}

.user__password{
    border: 1.7px solid #000;
}
.bi {
    cursor: pointer;
}
.user__password{
    border-right: none;
}
.form__group .user__password:focus{
    border-right: none !important;
}

@media only screen and (max-width: 400px){
    body,html{
        width: 100vw;
        overflow-x: hidden;
    }
    #loginId{
        width: 90%;
        padding: 1em;
        margin: 20px auto;
    }
    .form__group{
    width: 90%;
    box-sizing: border-box;
    }
    .login__image{
        height: 120px;
        width: auto;
        margin: auto;
    }
}